---
layout: layout
---

.introduction
  h2 Noriyuki Shimizu
  p Craft, Graphic, Typeface, Front-end Engineer.
  p All the things are work in progress.

  ul
    li <a href="https://twitter.com/Nori_rhy" target="_blank" rel="noopener">Twitter</a>
    li <a href="https://medium.com/@norhythm" target="_blank" rel="noopener">Medium</a>
    li <a href="https://www.instagram.com/noriyukishimizu/" target="_blank" rel="noopener">Instagram</a>


section.works

  .works-items
    for post in collections.post.reverse()
      .item
        a(href=post.url)
          header
            h3
              span
                = post.data.title
              p
                = post.data.category.charAt(0).toUpperCase() + post.data.category.slice(1).toLowerCase()

          .heroarea(style=`background-color: ${post.data.bgColor}` class=`${post.data.style}`)
            .frame-outer
              .frame(style=`border-width: ${post.data.borderWidth}`)
                figure
                  img(src=`${post.url}${post.data.title.toLowerCase().replace(/\s/g, "_")}.jpg` alt=`${post.data.title}`)