---
layout: layout
tags: post

title: Tyvek sacoche
date: 2019-06-29
category: craft
og:

bgColor: "#e4eaf5"
style: wall
borderWidth: 10px
---

article
  header
    h1
      span
        = title

  .heroarea(style=`background-color: ${bgColor}` class=`${style}`)
    .frame-outer
      .frame(style=`border-width: ${borderWidth}`)
        figure
          img(src=`./${title.toLowerCase().replace(/\s/g, "_")}.jpg` data-action="zoom" alt=`${title}`)

  .body
    h2
      = title

    .figure-lists.col-2
      figure
        img(src="./tyvek_sacoche_mood.jpg", alt="" data-action="zoom" )
      figure
        img(src="./tyvek_sacoche_usage.jpg", alt="" data-action="zoom" )

    p(lang="ja")
      | ハードタイベックのサコッシュが欲しくて自分で作った。<br/>
      | 気の迷いからMaker Faire Tokyoでも同じものを販売しました。




  .links
    ul
      li
        a(href="https://twitter.com/Nori_rhy/status/1144855966128586752" target="_blank" rel="noopener")
          span https://twitter.com/Nori_rhy/status/1144855966128586752
      li
        a(href="https://twitter.com/Nori_rhy/status/1157256278252478466" target="_blank" rel="noopener")
          span https://twitter.com/Nori_rhy/status/1157256278252478466


